.sidebar{
  float: right;
  width: 15%;
  height: 100vh;
  margin-top: 0;
  background-color: #912215;
  border-style: solid;
  border-width: 10px;
  border-color: #381591;
}
/*img{
  float:left;
  z-index:
}*/
p{
  color: white;
}
.column{
  width: 27.86%;
  float: left;
  margin-top: 100px;
  margin-left: -7px;
  /*padding-left: 50px;*/
  color: white;
  text-align: center;
}
.dry-heathen{
  width: 300px;
  height: auto;
  float:left;
  padding-right: 10px;
}

.column img {
  width: 90%;
  height: 150px;
  padding: 30px;
}
h1{
  text-align: center;
  color: #912215;
  font-family: fantasy;
  font-size: 100px;
}
body {
  background-color: black;
  font-family: fantasy;
}
#shows{
  color:black;
  font-weight: bold;
  text-align: center;
  font-size: 40px;
}

#before{
  background-color: #912215;
}

#during{
  background-color: #381591;
}

#after{
  background-color: #912215;
}
